@model ERP_DTO.ItemSubcategory_DTO


@if (Model != null)
{
    <input asp-for="ItemSubcategoryNumber" type="hidden" class="Number" />
}
<div class="mb-3">
    <label asp-for="ItemSubcategory" class="control-label"></label>
    <input asp-for="ItemSubcategory" class="form-control Key KeyDup" autofocus="true" autocomplete="off" />
</div>
<div class="mb-3">
    <label asp-for="ISC_Description" class="control-label"></label>
    <textarea asp-for="ISC_Description" class="form-control Key" autocomplete="off"></textarea>
</div>
<div class="mb-3">
    <label asp-for="UnderISubcategory" class="control-label"></label>
    <select asp-for="UnderISubcategory" class="form-select" asp-items="@ViewBag.Under"></select>
</div>
<div>
    @if (Model != null)
    {
        <input type="submit" name="Mode" value="Update" class="btn btn-primary me-3" />
        <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
    }
    else
    {
        <input type="submit" name="Mode" value="Save" class="btn btn-primary me-3" />
        <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
    }
</div>