@model ERP_DTO.PurchaseOrderHead_DTO


@if (Model.POH_Number != 0)
{
    <input asp-for="POH_Number" type="hidden" class="Number" />
}

<div class="row">
    <div class="col-12 col-md-3">
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_OrderNo" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_OrderNo" class="form-control Key KeyDup" readonly autocomplete="off" />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_Date" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_Date" class="form-control Key datepicker" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_ImportOrder" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input class="form-check-input" type="checkbox" asp-for="POH_ImportOrder" disabled />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_MS_Number" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <select asp-for="POH_MS_Number" class="form-select" asp-items="@ViewBag.MaterialSegregation" disabled></select>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_Vendor_Number" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_Vendor_Number" class="form-control" type="hidden" />
                <input asp-for="POH_VendorLocation" class="form-control" type="hidden" />
                <input asp-for="POH_Vendor" class="form-control" autocomplete="off" oninput="OnVendorInput(this)" onfocus="OnVendorFocus(this)" readonly />
                <div class="vendor-search-results bg-primary card" style="display:none"></div>
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_Currency_Number" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_Currency" class="form-control" readonly autocomplete="off" />
                <input asp-for="POH_Currency_Number" class="form-control" type="hidden" />
                <input asp-for="POH_DecimalPlaces" class="form-control" type="hidden" />
            </div>
        </div>
        <div id="ExchangeRate" class="row align-items-center px-2 mb-1">
            <label asp-for="POH_ExchangeRate" class="col-sm-5 col-form-label ps-0 text-nowrap"></label>
            <div class="col-sm-7">
                <input asp-for="POH_ExchangeRate" class="form-control Key decimal" autocomplete="off" readonly />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_PaymentTerms" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_PaymentTerms" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_MOP" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_MOP" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_DeliveryTerms" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_DeliveryTerms" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_MOD" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_MOD" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_Tax" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_Tax" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_Inspection" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_Inspection" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_TDC" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_TDC" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
        <div class="row align-items-center px-2 mb-1">
            <label asp-for="POH_Remarks" class="col-sm-5 col-form-label ps-0"></label>
            <div class="col-sm-7">
                <input asp-for="POH_Remarks" class="form-control Key" autocomplete="off" readonly />
            </div>
        </div>
    </div>
</div>
