@model ERP_DTO.VendorCategory_DTO


@if (Model != null)
{
    <input asp-for="VendorCategoryNumber" type="hidden" class="Number" />
}
<div class="mb-3">
    <label asp-for="VendorCategory" class="control-label"></label>
    <input asp-for="VendorCategory" class="form-control Key KeyDup" autofocus="true" autocomplete="off" />
</div>
<div class="mb-3">
    <label asp-for="VC_Description" class="control-label"></label>
    <textarea asp-for="VC_Description" class="form-control Key" autocomplete="off"></textarea>
</div>
<div class="mb-3">
    <label asp-for="UnderVCategory" class="control-label"></label>
    <select asp-for="UnderVCategory" class="form-select" asp-items="@ViewBag.Under"></select>
</div>
<div>
    @if (Model != null)
    {
        <input type="submit" name="Mode" value="Update" class="btn btn-primary me-3" />
        <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
    }
    else
    {
        <input type="submit" name="Mode" value="Save" class="btn btn-primary me-3" />
        <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
    }
</div>